/*detail modifier*/
.detail-container{
    display: flex;
    justify-content: space-around;
}
.detail-left{
    width: 45%;
}
 .detail-right{
     width: 45%;
 }
 .detail-btn{
    text-align: center;
 }

/*AJOUTER SORTIE */
.add-container {
    display: flex;
    justify-content: space-around;
}

.add-left {
    width: 45%;
    margin: 0;
}

.add-right {
    width: 45%;
}

.add-btn {
    display: flex;
    justify-content: center;
}

.add-btn .btn{
    margin: 20px 10px;
}

#adresse p {
    margin: 28px 0px 0 18px;
}

/*login*/
.login-container {
    display: block;
    width: 50%;
    margin: 10% auto 0 auto;
}

.submit-connexion {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: 20px 0;
}

/*PROFILE*/
.profile-container {
    display: flex;
}

.profile-left {
    width: 25%;
}

.profile-right {
    width: 50%;
    margin-left: 20px;
}

.picture-profile {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.label-upload-picture {
    margin: 10px 0 20px 10px;
}

.label {
    color: #00897b;
}


/* HOME*/
.filter-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.tableau th, .tableau td{
    text-align: center;
}

.btn-rechercher {
    display: block;
    margin: 50px auto 0 auto;
    width: 250px;
}

.filter {
    width: 50%;
}

.checkbox {
    width: 45%;
}

.form-filter div {
    display: flex;
    align-items: center;
}

.select-wrapper input.select-dropdown {
    border-bottom: none;
}

.footer {
    display: block;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.date-participant {
    margin-top: 74px;
    font-weight: bold;
}

.container {
    margin: 64px auto;
}

nav {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

h1 {
    font-size: 34px;
    line-height: 100%;
    margin: 15px auto;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding: 15px;

}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0;
}


.ul-detail {
    display: flex;
    margin: 0 0 20px 0;
    justify-content: space-around;
}

.annulation{
    font-size: 20px;
    font-weight: bold;
    color : red;
    text-align: center;
}

#mapdiv {
    margin: 0 auto !important;
    width: 50%;
    height: 250px;
    border: solid black 1px;
}

.error, .flash-error {
    display: flex;
    color: red;
    font-size: 20px;
    border: solid 3px red;
    border-radius: 5px;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.flash-success {
    display: flex;
    color: green;
    font-size: 20px;
    border: solid 3px green;
    border-radius: 5px;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.select-dropdown {
    text-align: center;
}

/* HOME */

.date-participant {
    display: block;
    text-align: right;
}

#filter_dateDebut, #filter_dateDebut_date, #filter_dateDebut_time,
#filter_dateFin, #filter_dateFin_date, #filter_dateFin_time,
#sortie_dateHeureDebut, #sortie_dateHeureDebut_date, #sortie_dateHeureDebut_time,
#sortie_dateLimiteInscription {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[type="checkbox"] + span:not(.lever) {
    padding-left: 25px;
    line-height: 18px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.select-dropdown {
    text-align: center;
}

/* DETAIL SORTIE */


/*.tableau {*/
/*    display: block;*/
/*}*/

/*.tableau-home, .tableau-detail {*/
/*    height: 250px;*/
/*    overflow-y: scroll;*/
/*}*/

/*.tableau th, .tableau-home td, .tableau-detail td {*/
/*    width: 140px;*/
/*}*/


/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 600px) {

    #mapdiv {
        width: 100%;
    }

    .container {
        display: block;
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        padding: 0;
        margin: 0;
    }


    table {
        margin-top: 20px;
    }

    td, th {
        text-align: center;
    }

    .ul-detail {
        display: block;
    }

    ul:not(.browser-default) {
        padding: 10px
    }

}

@media screen and (min-width: 601px) {
    nav .brand-logo {
        left: 0;
        transform: translateX(10px);
    }
}

