.error, .flash-error {
   display: flex;
   color: red;
   font-size: 20px;
   border: solid 3px red;
   border-radius: 5px;
   margin: 20px 0px;
   justify-content: center;
   align-items: center;
   height: 50px;

}

.flash-success {
   display: flex;
   color: green;
   font-size: 20px;
   border: solid 3px green;
   border-radius: 5px;
   margin: 20px 0px;
   justify-content: center;
   align-items: center;
   height: 50px;
}