<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome BMTWC!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        {% block header%}{% endblock %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
        © Avengers (BMTWC) 2020
    </footer>
    </body>
        {% block javascripts %}{% endblock %}
</html>
