{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier le profil{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <a id="lien" href="#" onclick="javascript:show('new-password', 'lien'); return false;">Modifier votre mot de passe ?</a>
    <div id="new-password" style="display: none" class="input-field col s12">

{% endblock %}