{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Profil
{%  endblock %}

{% block body %}
    <h1>Profil</h1>
    <ul>
        <li>Pseudo : {{ user.username }}</li>
        <li>Prénom :</li>
        <li>Nom :</li>
        <li>Email : {{ user.email }}</li>
        <li>Téléphone :</li>
    </ul>

    <button type="button"><a href="">Modifier</a></button>
{%  endblock %}