<nav>
    <div class="nav-wrapper teal darken-1">
        <a class="brand-logo" href="{{ path('home') }}" title="Sortir | Home">Sortir Eni !</a>
        <ul class="right hide-on-med-and-down">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('user_logout') }}" title="deconnexion">Déconnexion</a></li>
                <li><a href="{{ path('sortie_add') }}" title="ajout Sortie">Ajout Sortie</a></li>

            {% else %}
                <li><a href="{{ path('user_login') }}" title="connexion">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

